td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

td.details-delete {
    background: url('../img/delete.png') no-repeat center center;
    cursor: pointer;
}